<ion-content class="inicio">

<div class="boton" style="text-align: center;">
  <div style="text-align: center;">
    <img src="../assets/img/zulasoft.png" style="width:75%;">
  </div> 

<br>
<br>

  <div style="text-align: center;">
    <ion-button routerLink="/menuinicio" style="text-transform: capitalize;">
      Bienvenido <ion-icon name="log-in-outline"></ion-icon>
    </ion-button>
  </div> 
</div>

<br> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <h5 style="text-align: center; font-size: 15px;">Reservados todos los derechos <B>ZulaSoft</B>
    <ion-icon name="phone-portrait-outline" color="primary"></ion-icon></h5>


</ion-content>