
<ion-header class="ion-no-border">
	<ion-toolbar>
   
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary" slot="start">Nosotros</ion-title>

		<!-- <ion-buttons slot="end">
			<ion-button (click)="llamada()" class="bordered" fill="solid" color="secondary">
				<ion-icon name="call-outline"></ion-icon>
			</ion-button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div style="text-align: center;">
    <img src="../assets/img/zulasoft2.png" style="width:35%;">
  </div> 

<ion-card class="ion-padding card1">
  <ion-card-content>

    <h2><ion-icon name="earth-outline"></ion-icon> Nuestro proposito</h2>

    <p style="text-align: justify;">
      Contribuir al desarrollo de proyectos para su negocio, aplicando tecnología digital de la mas alta calidad, 
      llevándolos a un futuro prospero y moderno.
    </p>

    <br>

    <h2><ion-icon name="rocket-outline"></ion-icon> Creativos</h2>

    <p style="text-align: justify;">
      ZulaSoft tiene la solución y la estrategia para mejorar la innovación en todas las áreas empresariales así 
      como también en pequeños negocios. Se impulsaran mediante una mejor comunicación, mejores ideas en el comercio 
      y nuevas vistas en el futuro para nuevos clientes.
    </p>

    <br>

    <h2><ion-icon name="desktop-outline"></ion-icon> Que hacemos</h2>

    <p style="text-align: justify;">
      En ZulaSoft nos enfocamos en las necesidades del cliente, aplicando distintos tipos de software, 
      incluyendo investigaciones, servicios y procesos dinámicos.
      Nuestro marketing digital nos permite en crear estrategias comerciales que se ejecutaran en canales de Internet,
      así como redes sociales y sitios web.
    </p>

    <br>

    <h2><ion-icon name="document-text-outline"></ion-icon> Codigo de conducta</h2>

    <p style="text-align: justify;">
      Nuestro compromiso con cada una de nuestras partes interesadas, incluida la comunicación en la que trabajamos, 
      es nuestra responsabilidad enfrentarnos día a día con problemas de marketing para todo tipo de negocio.
    </p>

    <br>


  </ion-card-content>
</ion-card>



</ion-content>
